body{
  margin: 0px;
}
a{
  color: white;
  text-decoration: none;
}
.menu{
  display: flex;
  background-color: navy;
  color: white;
  font-family: arial;
  text-align: center;
  padding: 10px;
  justify-content: space-around;
}
/*.menu>.navigation :nth-child(2){
  margin-left: 20px;
  margin-right: 20px;
}
.menu>.navigation a{
  padding: 5px;
  transition: 0.6s;
  width: 100px;
  border-bottom: 2px solid transparent;
  border-radius: 10px;
  margin-inline-end: 10px;
}
.menu>.navigation a:hover{
  color: goldenrod;
  letter-spacing: 0.3px;
  border-bottom-color: white; 
}*/

.header> .header-name h1{
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  font-family: bandana;
  background-color: rgb(102, 204, 255);
  margin: 0px;
  padding: 20px;
  border-bottom: solid rgb(255, 191, 102);
  border-width: 2px;
}

main{
  height: 500px;
  /*background-image: url('IMG_20231115_164803_068~2.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
}
.main-body{
  display: flex;
  align-items: center;
  height: 500px;
}
.main-body> .main-body-content{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 50px;
}
.main-body> .main-body-content> .Login-text> h1{
  color: navy;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 3px 3px 5px goldenrod;
  
}
.main-body> .main-body-content> .Login-input{
  display: grid;
  grid-gap: 30px;
  padding: 5px;
}

.Login-input> .input-Username> #input-Username{
  padding: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none; 
  border-bottom: 3px solid goldenrod;
  outline: none;
}


.Login-input> .input-Password> #input-Password{
  padding: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  border-bottom: 3px solid goldenrod;
  outline: none;
}
.main-body-content> .Login-button{
  display: grid;
  width: 100px;
  height: 20px;
  padding: 10px;
}
.main-body-content> .Login-button> #Login-button{
  border: none;
  border-radius: 10px;
  background-color: navy;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 3px 8px goldenrod;
  transition: 0.5s;
}
.main-body-content> .Login-button :hover{
  border: none;
  background-color: white;
  color: navy;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}
.main-body-content> .Forgotten-Password a{
  color: rgb(102, 204, 255);
  letter-spacing: 1px;
  font-size: 1em;
  text-decoration: none;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  font-weight: lighter;
  font-family: roboto;
  color: white;
  padding: 25px;
}
footer> .footer-content1{
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 8px;
  
}
footer> .footer-content1> div{
  padding: 3px;
  transition: 0.5s;
  
}

footer> .footer-content1> div:hover{
  border-bottom: 2px solid goldenrod;
  border-radius: 10px;
}

footer> .footer-content2{
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  grid-gap: 8px;
  
}
footer> .footer-content2> div{
  padding: 3px;
  transition: 0.5s;
}

footer> .footer-content2> div:hover{
  border-bottom: 2px solid goldenrod;
  border-radius: 10px;
}