.body-content-box{
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  grid-gap: 20px;
  justify-content: space-evenly;
}
.content-box{
  border: 2px solid goldenrod;
  border-radius: 5px;
  background-color: goldenrod;
  display: grid;
  width: 40%;
  height: auto;
  
}
.content-box> .img-box{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.content-box> .img-box> a> img{
  width: 100%;
  height: 400px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.content-box> .price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: navy;
  color: white;
  text-shadow: 0px 0px 5px white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1em;
}
.content-box> label{
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: roboto;
  color: navy;
  font-size: 20px;
  background-color: goldenrod;
  padding: 3px;
  text-align: center;
  text-shadow: 0px 0px 10px navy;
}
.Space{height: 10px}
